input.placeholderred::-webkit-input-placeholder {
    color: orangered;
 }
button:hover {
    background: $accentColor;
    color: $firstColor;
}
.form__button {
    min-width: 350px;
    min-height: 60px;
    background: $firstColor;
    @include button ();
    @media (max-width: 1000px) {
        min-width: 80%;
    }
    @media (max-width: 768px) {
        min-height: 40px;  
    }
    @media (max-width: 370px) {
       min-height: 20%;
       margin: 0;
    }
}
.pricing__button,  .offer__button {
    @include button();
    min-width: 200px;
    min-height: 55px;
    background: $secondColor;
    margin-top: 30px;
    @media (max-width: 768px) {
        margin-top: 15px;
        min-width: 80%;
        min-height: 45px;
    }
}
.offer__button {
    @media (max-width: 600px) {
        margin-top: 15px;
        min-width: initial;
        margin: 10px auto;
        width: 30%;
        min-height: 45px;
    }
    @media (max-width: 500px) {
        width: 40%;
    }
    @media (max-width: 370px) {
        width: 50%;
    }

}
.call {
    display: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: none;
    background: $accentColor;
    position: fixed;
    bottom: 50px;
    left: 50px;
    @include shadowBox;
    @media (max-width: 700px) {
        width: 60px;
        height: 60px;
    }
}
.call a, .call i {
    color: $basicColor;
    font-size: 50px;
    @include shadowText;
    @media (max-width: 700px) {
        font-size: 30px;
    }
}
.write {
    display: none;
    border-top-left-radius: 2em;
    width: 400px;
    height: 30px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba($accentColor, 0.4) ;
    position: fixed;
    top: 3%;
    right: 10%;
    @include shadowBox;
    @media (max-width: 700px) {
        width: 325px;
        height: 20px;
    }
    @media (max-width: 450px) {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: initial;
        bottom: 50px;
        right: 50px;
        &__text {
            display: none;
        }
        .write__link i {
            display: block;
            color: $basicColor;
            font-size: 40px;
        }
    }
}
.write__link i {
    display: none;
}
.write a {
    color: $firstColor;
    font-size: 20px;
    @include shadowText;
    @media (max-width: 700px) {
        font-size: 14px;
    }
}