.pricing {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/wall-1846841_640.jpg);
    
    @media (max-width: 768px) {
        min-height: 480px;
    }
    &__content {
        padding: 50px 0;
        @media (max-width: 370px) {
            padding: 20px 0;
            width: 100%;
            margin: 0 auto;
        }
    }
    &__blocks {
        @include Flex();
        @media (max-width: 615px) {
            flex-direction: column;
        }
    }
   
    &__heading {
        color: $secondColor;
        @include Tittel;
    }
    &__text {
        @include font-p-content;
        @include Dark-Pointed-Text;
        color: $secondColor;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
        @media (max-width: 700px) {
            width: 80%;
            margin-bottom: 10px;
        }
    }
    &__block {
        @include Flex( center, center, column );
        min-height: 400px;
        min-width: 320px;
        margin-right: 20px;
        text-align: center;
        color: $secondColor;
        background: rgba($basicColor, 0.7) ;
        position: relative;
        border-radius: 5px;
        @media (max-width: 1099px) {
            min-width: 30%;
          }
        @media (max-width: 768px) {
            min-height: 225px;
        }
        @media (max-width: 615px) {
            min-height: max-content;
            width: 70%;
            margin-bottom: 10px;
            margin-right: 0;
        }
        
    }
    &__block:last-child {
        margin-right: 0;
    }
    &__servise {
        @include font-p-content()
    }
   
}
.active {
    background: $firstColor;
}
.view {
    @include font-p-content();
    margin-top: 30px;
    @media (max-width: 768px) {
        margin-top: 5px;
    }
}
.price {
    color: $accentColor;
    -webkit-text-stroke: .04em black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 30px;
    }
    @media (max-width: 370px) {
        font-size: 20px;
    }
}
.triangle {
    border: 50px solid transparent; 
    border-left: 50px solid $accentColor; 
    border-top: 50px solid $accentColor;
    position: absolute;
    left: 0;
    top: 0;

    @media (max-width: 768px) {
        border: 20px solid transparent; 
        border-left: 20px solid $accentColor; 
        border-top: 20px solid $accentColor;
    }
}