* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	color: #31220a;;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 20px;
    background-image: url(../img/4969180.jpg);
}
a {
	display: block;
	text-decoration: none;
	color: #323332;
}
li {
	list-style-type: none;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover; /*cover*/
	object-position: top;
}
.container {
	width: 320px;
	margin: 50px auto;
}