
.Sale {
    min-width: 550px;
    min-height: 300px;
    color: blanchedalmond;
    @include Flex($jc: center, $ai: center, $fd: column);
    font-family: 'Montserrat', sans-serif;
    @media (max-width: 900px) {
        min-width: initial;
    }
    @media (max-width: 370px) {
        min-height: initial;
        margin-bottom: 40px;
    }
    
    
    &__saleyour {
        font-weight: bold;
        font-size: 90px;
        @media (max-width: 900px) {
            font-size: 60px;
        }
        @media (max-width: 768px) {
            font-size: 50px;
        }
        @media (max-width: 370px) {
            font-size: 40px;
        }
    }
    &__carnow {
        font-weight: bold;
        font-size: 90px;
        color: $secondColor;
        @media (max-width: 900px) {
            font-size: 60px;
        }
        @media (max-width: 768px) {
            font-size: 50px;
        }
        @media (max-width: 370px) {
            font-size: 40px;
        }
    }
    &__content {
        padding-top: 40px;
        @include font-p-content();
        @media (max-width: 370px) {
            padding-top: 20px;
        }
    }

}