* {
    margin: 0;
    padding: 0;
}
a {
    display: block;
    text-decoration: none;
}
li {
    list-style: none;
}
i {
    font-size: 150px;
}
.container {
    margin: 0 auto;
    max-width: 1010px;
}